---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="О клинике">
  <main>
    <Blocks.Intro name="about" />
    <Blocks.Founder />
    <Blocks.License />
    <Blocks.Clinic />
    <Blocks.Partners />
    <Blocks.Specialists />
    <Blocks.Contacts />
  </main>
</App>
