---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Боли в спине">
  <main>
    <Blocks.Hero
      title="<span><strong>Боль в спине — </strong> не просто  <br/>дискомфорт, а сигнал организма</span>"
      desc="Помогаем устранить боль и вернуть подвижность без таблеток и операций — через работу с мышцами, суставами и нервной системой."
      video="lechenie-grij.mp4"
    />
    <Blocks.Causes
      title="Что вызывает <strong>боль в спине</strong>"
      list={[
        "Остеохондроз",
        "Смещение позвонков",
        "Мышечные спазмы",
        "Межпозвоночные грыжи и протрузии",
        "Сдавление нервных корешков",
        "Плоскостопие и перекос таза",
        "Сидячая работа и малоподвижный образ жизни",
        "Последствия травм",
      ]}
    />
    <Blocks.Area />
    <Blocks.Causes
      subtitle="Когда нужно  <strong>обратиться к врачу</strong>"
      list={[
        "Боль в спине более 5 дней",
        "Усиление боли при движении или сидении",
        "Онемение или слабость в ногах ",
        'Щелчки, скованность, чувство "блока"',
        "Возврат боли после таблеток или массажа",
        "Боль ночью или утром при вставании",
      ]}
    />
    <Blocks.Appointment
      title="Запишитесь — и мы поможем вам <strong>вернуть свободу движений</strong>"
    />
    <Blocks.Treatments
      title="Что даёт  <strong>курс лечения </strong>"
      list={[
        "Облегчение боли уже после первых сеансов",
        "Возвращение подвижности",
        "Улучшение качества жизни",
        "Профилактика осложнений",
        "Поддержка и рекомендации на будущее",
      ]}
    />
    <Blocks.Result />
    <Blocks.Specialists />
    <Blocks.Clinic />
    <Blocks.Partners />
    <Blocks.Reviews />
    <Blocks.Application />
    <Blocks.Certificate />
    <Blocks.Faq />
    <Blocks.Contacts />
  </main>
</App>
