---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Специалисты">
  <main>
    <Blocks.Intro name="doctors" />
    <Blocks.Doctors />
    <Blocks.Contacts />
  </main>
</App>
