---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Специалист">
  <main>
    <Blocks.Intro name="doctors" />
    <Blocks.Doctor />
    <Blocks.Certificates />
    <Blocks.Contacts />
  </main>
</App>
