---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Боль в суставах">
  <main>
    <Blocks.Hero
      title="<span><strong>Головные боли —</strong> это не норма </span>"
      desc="Устраняем не просто боль, а её настоящую причину: напряжение, нарушения осанки, пережатие сосудов или стресс."
      video="golovnie-boli.mp4"
    />
    <Blocks.Headache />
    <Blocks.Appointment
      title="Запишитесь — и мы поможем вам <strong>избавиться от боли</strong>"
    />
    <Blocks.Treat
      title="Обезболивающее помогает временно. <br/> <strong>Мы работаем с причиной.</strong>"
      desc="Таблетка снимает боль — но не устраняет то, что её вызывает. Наш подход — найти и устранить первоисточник: мышечные зажимы, перенапряжение, смещение позвонков, стресс. Это даёт долгосрочный эффект без зависимости от лекарств. <br/><br/> 70% пациентов с головной болью имеют нарушения в шейном отделе позвоночника. Именно шейные позвонки, <br/> мышцы и сосуды часто вызывают «отдающую» боль в голову. Мы мягко и безопасно устраняем эту причину."
    />

    <Blocks.Treatments
      title="Что даёт  <strong>курс лечения </strong>"
      list={[
        "Облегчение боли уже после первых сеансов",
        "Возвращение подвижности",
        "Улучшение качества жизни",
        "Профилактика осложнений",
        "Поддержка и рекомендации на будущее",
      ]}
    />
    <Blocks.Result />
    <Blocks.Specialists />
    <Blocks.Clinic />
    <Blocks.Partners />
    <Blocks.Reviews />
    <Blocks.Application />
    <Blocks.Certificate />
    <Blocks.Faq />
    <Blocks.Contacts />
  </main>
</App>
