---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Главная">
  <main>
    <Blocks.Hero
      title="Доктор <strong>Киселев</strong>"
      subtitle="Клиника лечения позвоночника и суставов"
      video="hero.mp4"
    />
    <Blocks.Founder />
    <Blocks.Way />
    <Blocks.Result />
    <Blocks.Services title="Услуги <strong>нашей клиники</strong>" isMain />
    <Blocks.Specialists />
    <Blocks.Clinic />
    <Blocks.Partners />
    <Blocks.Reviews />
    <Blocks.Application />
    <Blocks.Certificate />
    <Blocks.Faq />
    <Blocks.Contacts />
  </main>
</App>
