---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Главная">
  <main>
    <Blocks.Hero />
    <Blocks.Founder />
    <Blocks.Way />
    <Blocks.Result />
    <Blocks.Services />
    <Blocks.Specialists />
    <Blocks.Clinic />
    <Blocks.Partners />
    <Blocks.Reviews />
    <Blocks.Application />
    <Blocks.Certificate />
    <Blocks.Faq />
    <Blocks.Contacts />
  </main>
</App>
