---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Неврология">
  <main>
    <Blocks.Hero
      title="<strong>Неврология </strong>"
      desc="Диагностика и лечение заболеваний нервной системы без операций и госпитализации. Помогаем при боли, нарушении сна и тревожных состояниях."
      video="nevrologiya.mp4"
    />
    <Blocks.Pricing
      title="Стоимость <strong>услуг невролога</strong>"
      isMain={true}
    />
    <Blocks.Appointment
      title="Запишитесь на консультацию <strong>невролога!</strong>"
    />
    <Blocks.Treat
      title="Что лечит <strong>неврология</strong>"
      desc="<strong>Неврология</strong> — это область медицины, изучающая тончайшие механизмы работы центральной и периферической нервной системы. Невролог помогает выявить и устранить скрытые нарушения, влияющие на координацию, чувствительность, память, сон и общее самочувствие. <br/><br/><strong>Современная неврология</strong> — это не только диагностика серьёзных заболеваний, но и комплексный подход к улучшению качества жизни. Своевременное обращение к специалисту позволяет на раннем этапе предотвратить развитие хронических состояний, справиться с головными болями, онемением конечностей, головокружениями и последствиями стрессов. Это деликатная работа с организмом, направленная на восстановление стабильности нервной системы и возвращение к полноценной жизни."
      subtitle="<strong>Неврология</strong> помогает при:"
      list={[
        "Вегетососудистая дистония",
        "Остеохондроз",
        "Межпозвоночные грыжи",
        "Последствия ЧМТ",
        "Панические атаки",
        "Невралгии и невриты",
        "Хроническая усталость",
        "Бессонница",
      ]}
    />
    <Blocks.Founder />
    <Blocks.Result />
    <Blocks.Specialists />
    <Blocks.Clinic />
    <Blocks.Partners />
    <Blocks.Reviews />
    <Blocks.Application />
    <Blocks.Certificate />
    <Blocks.Faq />
    <Blocks.Contacts />
  </main>
</App>
