---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Остеопатия">
  <main>
    <Blocks.Hero
      title="<strong>Остеопатия — </strong> <br/> <span>лечение без лекарств и боли</span>"
      video="hero.mp4"
    />
    <Blocks.Pricing
      title="Стоимость <strong>остеопатических услуг</strong>"
      isMain={true}
    />
    <Blocks.Appointment
      title="Запишитесь на консультацию <strong>остеопата!</strong>"
    />
    <Blocks.Treat
      title="Что лечит <strong>остеопатия</strong>"
      desc="<strong>Остеопатия</strong>  — это современное направление в медицине, основанное на бережном ручном воздействии, которое помогает восстановить внутренний баланс организма. В отличие от традиционных методов, остеопат не лечит отдельный симптом, а работает с причиной дисфункции, мягко устраняя напряжения в тканях, суставах и органах. Этот подход активизирует природные механизмы саморегуляции тела и способствует глубокому оздоровлению без медикаментов. Сегодня остеопатия успешно применяется при хронических болях, нарушениях осанки, последствиях травм и стрессовых перегрузках, завоёвывая всё большую популярность благодаря своей эффективности и безопасности."
      subtitle="<strong>Остеопатия</strong> помогает при:"
      list={[
        "Головные боли и мигрени",
        "Хроническая усталость",
        "Нарушения осанки",
        "Вегетососудистая дистония",
        "Защемление нервов",
        "Проблемы с ЖКТ и дыханием",
        "Тревожность и стресс",
        "Боли после травм",
      ]}
    />
    <Blocks.Suitable
      title="Остеопатия <strong>подходит даже детям</strong>"
      list={[
        "Помощь при кривошее и плаче",
        "Улучшение сна и пищеварения",
        "Коррекция родовых травм",
        "Профилактика сколиоза",
      ]}
    />
    <Blocks.Founder />
    <Blocks.Result />
    <Blocks.Specialists />
    <Blocks.Clinic />
    <Blocks.Partners />
    <Blocks.Reviews />
    <Blocks.Application />
    <Blocks.Certificate />
    <Blocks.Faq />
    <Blocks.Contacts />
  </main>
</App>
