---
import App from "../App.astro";
import * as Blocks from "@/blocks";
---

<App title="Специалисты">
  <main>
    <Blocks.Intro name="reviews" />
    <Blocks.Reviews main />
    <Blocks.Appointment title="" variant="reviews" />
    <Blocks.Contacts />
  </main>
</App>
