---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Indications -->
<Section name="indications"> .indications </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .indications {
    position: relative;
  }
</style>
