---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Result -->
<Section name="result">
  <div class="result__header group-row">
    <div class="result__header-subtitle" data-aos="fade-up">
      Решаем сложные <br />
      случаи
    </div>
    <div class="result__header-title" data-aos="fade-up">без операции</div>
  </div>

  <div class="result__content">
    {
      Array.from({ length: 2 }).map(() => (
        <div class="card">
          <div class="card__img" data-aos="fade-up">
            <div class="card__img-before">
              <Image src="result/before.png" />
              <span class="label label--before">До</span>
            </div>
            <div class="card__img-after">
              <Image src="result/after.png" />
              <span class="label label--after">После</span>
            </div>

            <div class="card__img-slider">
              <div class="card__img-thumb">
                <div class="card__img-thumb-arrows" />
              </div>
            </div>
          </div>
          <div class="card__content">
            <ul class="group">
              <li data-aos="fade-up">
                <strong>Диагноз:</strong> Грыжа диска, воспалительные процессы
                на позвонках в пояснице, сильные простреливающие боли в ногу,
                онемение большого пальца на ноге.
              </li>
              <li data-aos="fade-up" data-aos-delay="50">
                <strong>Лечение:</strong> Проведено комплексное лечение с
                устранением воспаления, снятием болевого синдрома и улучшение
                подвижности.
              </li>
              <li data-aos="fade-up" data-aos-delay="100">
                <strong>Результат:</strong> На фоне лечения – снижение
                интенсивности и объёма воспаления, боль купирована.
              </li>
            </ul>
            <Button href="#" data-aos="fade-up" data-aos-delay="150">
              ЭТО МОЙ СЛУЧАЙ
            </Button>
          </div>
        </div>
      ))
    }
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .result {
    position: relative;

    &__header {
      gap: rem(24);

      @include media("lg") {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: rem(5);

        br {
          display: none;
        }
      }

      &-subtitle {
        font-size: clamp(1.25rem, 0.9615rem + 1.2821vw, 2.5rem);
        text-align: right;
        text-transform: uppercase;

        @include media("lg") {
          text-align: left;
        }
      }

      &-title {
        position: relative;
        font-size: clamp(2rem, 0.9471rem + 4.6795vw, 6.5625rem);
        text-transform: uppercase;
        font-weight: 700;
        color: var(--primary);

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: rem(-20);
          transform: translate(100%, -50%);
          height: rem(5);
          width: 50vw;
          background: var(--primary);

          @include media("lg") {
            right: rem(-15);
            height: rem(3);
          }
        }
      }
    }

    &__content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(20);

      @include media("lg") {
        grid-template-columns: 1fr;
      }
    }

    .card {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(4);

      &__img {
        position: relative;
        width: 100%;
        height: rem(615);
        background: #ffffff;
        border-radius: rem(60);
        overflow: hidden;
        user-select: none;

        @include media("3xl") {
          height: rem(480);
        }
        @include media("xl") {
          height: rem(380);
          border-radius: rem(40);
        }
        @include media("sm") {
          height: rem(320);
        }
        @include media("xs") {
          height: rem(240);
          border-radius: rem(25);
        }

        &-before,
        &-after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: auto;
            height: 100%;
            object-fit: contain;
          }
        }

        &-before {
          z-index: 1;
        }

        &-after {
          clip-path: inset(0 0 0 50%);
          z-index: 2;
        }

        .label {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          color: #fff;
          font-size: rem(40);
          transition: opacity 0.3s ease;
          z-index: 5;

          @include media("xl") {
            font-size: rem(24);
          }
          @include media("xs") {
            font-size: rem(20);
          }

          &--before {
            left: 35%;
          }

          &--after {
            left: 60%;
          }
        }

        &-slider {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          cursor: ew-resize;
        }

        &-thumb {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          width: rem(4);
          background-color: var(--primary);
          transform: translateX(-50%);
          pointer-events: none;

          @include media("xl") {
            width: rem(3);
          }
          @include media("xs") {
            width: rem(2);
          }

          &-arrows {
            position: absolute;
            top: 50%;
            left: 50%;
            @include size(rem(78));
            background-color: var(--primary);
            background-image: url('data:image/svg+xml,<svg width="51" height="25" viewBox="0 0 51 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M38.5 1.5L49.5 12.5L38.5 23.5" stroke="white" stroke-width="2" /><path d="M13 23L2 12L13 1" stroke="white" stroke-width="2" /></svg>');
            background-size: 70% auto;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;

            @include media("xl") {
              --size: #{rem(60)};
            }
            @include media("xs") {
              --size: #{rem(50)};
            }
          }
        }

        &.dragging {
          cursor: grabbing;
        }
      }

      &__content {
        padding: rem(40);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(20);

        @include media("3xl") {
          padding: rem(20);
        }
        @include media("xs") {
          padding: rem(15) 0;
          font-size: rem(14);
          gap: rem(15);
        }

        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: rem(20);

          @include media("xs") {
            gap: rem(10);
          }
        }

        li:last-child strong {
          color: var(--secondary);
        }

        strong {
          color: var(--primary);
        }

        .btn {
          margin-top: rem(12);
          width: rem(305);

          @include media("xs") {
            margin-top: rem(5);
            width: rem(280);
          }
        }
      }
    }
  }
</style>
