---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Services -->
<Section name="services">
  <H2>Услуги <strong>нашей клиники</strong></H2>

  <div class="services__list">
    <div class="services__item">
      <a href="/service" class="services__item-link"></a>

      
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .services {
    position: relative;
  }
</style>
