---
import { Section, H2, H3, P, Image, Icon, Button } from "ui";
---

<!-- Simptomi -->
<Section name="simptomi">
  <H2 class="uppercase" data-aos="fade-up">
    какие у вас <strong>симптомы?</strong>
  </H2>

  <div class="simptomi__list">
    <div class="simptomi__item" data-aos="fade-up" data-aos-delay="0">
      <a href="#" class="simptomi__item-link"></a>

      <button class="simptomi__item-btn icon">
        <svg
          width="59"
          height="59"
          viewBox="0 0 59 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="29.5" cy="29.5" r="29.5" fill="white"></circle>
          <path
            d="M22 15L36.5 29.5L22 44"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>

      <Image class="simptomi__item-img" src="simptomi/1.svg" />
      <span class="simptomi__item-title">Боль в суставах</span>
      <p class="simptomi__item-desc">
        Скованность, отёки, щелчки при движении — могут указывать на воспаление,
        артроз или нарушение биомеханики.
      </p>
    </div>

    <div class="simptomi__item" data-aos="fade-up" data-aos-delay="50">
      <a href="#" class="simptomi__item-link"></a>

      <button class="simptomi__item-btn icon">
        <svg
          width="59"
          height="59"
          viewBox="0 0 59 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="29.5" cy="29.5" r="29.5" fill="white"></circle>
          <path
            d="M22 15L36.5 29.5L22 44"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>

      <Image class="simptomi__item-img" src="simptomi/2.svg" />
      <span class="simptomi__item-title">Головные боли</span>
      <p class="simptomi__item-desc">
        Головная боль может быть связана с мышечным напряжением, шейным отделом
        позвоночника, стрессом или ВСД.
      </p>
    </div>

    <div class="simptomi__item" data-aos="fade-up" data-aos-delay="100">
      <a href="#" class="simptomi__item-link"></a>

      <button class="simptomi__item-btn icon">
        <svg
          width="59"
          height="59"
          viewBox="0 0 59 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="29.5" cy="29.5" r="29.5" fill="white"></circle>
          <path
            d="M22 15L36.5 29.5L22 44"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>

      <Image class="simptomi__item-img" src="simptomi/3.svg" />
      <span class="simptomi__item-title">Боли в спине</span>
      <p class="simptomi__item-desc">
        Хроническая боль в спине — частый симптом при остеохондрозе, протрузии,
        сколиозе. Помогаем без операций.
      </p>
    </div>

    <div class="simptomi__item" data-aos="fade-up" data-aos-delay="150">
      <a href="#" class="simptomi__item-link"></a>

      <button class="simptomi__item-btn icon">
        <svg
          width="59"
          height="59"
          viewBox="0 0 59 59"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="29.5" cy="29.5" r="29.5" fill="white"></circle>
          <path
            d="M22 15L36.5 29.5L22 44"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>

      <Image class="simptomi__item-img" src="simptomi/4.svg" />
      <span class="simptomi__item-title">Боли в пояснице</span>
      <p class="simptomi__item-desc">
        Боль в пояснице — сигнал проблем с позвоночником, мышцами, защемлёнными
        нервами или почками.
      </p>
    </div>
  </div>

  <div class="simptomi__text group">
    <H3 class="text-h3" data-aos="fade-up">
      Не симптом, а <span>причина</span> наш <strong>главный ориентир</strong>
    </H3>
    <P data-aos="fade-up" data-aos-delay="50">
      В нашей клинике <strong>мы не просто устраняем симптомы</strong>, а
      работаем с причиной боли. Такой подход позволяет добиться не
      кратковременного облегчения, а стабильного и <strong
        >долгосрочного результата</strong
      >. Уже на первом приёме проводится комплексная диагностика: врач оценивает
      общее состояние организма, выявляет скрытые дисфункции и взаимосвязи между
      жалобами пациента и нарушениями в теле. На основе получённых данных
      разрабатывается персональный план восстановления, который может включать
      мануальную терапию, остеопатию, ЛФК, физиотерапию и другие методы.
      <br /><br />
      <strong>
        Наша цель — не просто снять напряжение или боль, а восстановить баланс в
        организме, вернуть свободу движений и улучшить качество жизни. Каждый
        шаг лечения выверен и направлен на то, чтобы человек чувствовал себя
        лучше не на время, а надолго.
      </strong>
    </P>
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .simptomi {
    position: relative;

    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      gap: rem(20);

      @include media("sm") {
        gap: rem(15);
      }
    }

    &__item {
      position: relative;
      padding: rem(55) rem(30) rem(50);
      height: rem(560);
      color: var(--primary);
      background-color: currentColor;
      border-radius: rem(65);
      flex: 1 0 var(--basis, rem(380));
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      --icon-size: #{rem(60)};

      &:hover {
        opacity: 0.8 !important;
      }

      @include media("3xl") {
        padding: rem(30);
        height: rem(450);
        --basis: #{rem(310)};
      }
      @include media("lg") {
        padding: rem(20);
        height: rem(320);
        border-radius: rem(35);
        --icon-size: #{rem(50)};
      }
      @include media("sm") {
        height: rem(280);
        --basis: 100% !important;
      }
      @include media("xs") {
        --icon-size: #{rem(40)};
      }

      &:nth-child(1) {
        --primary: #68c0cc;
      }

      &:nth-child(2) {
        --primary: #43a4a4;
      }

      &:nth-child(3) {
        --primary: #8ca3de;
      }

      &:nth-child(4) {
        --primary: #cb686a;
      }

      &-link {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
      }

      &-img {
        position: absolute;
        top: 10%;
        left: 5%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;

        @include media("3xl") {
          top: 5%;
          max-height: 60%;
        }
        @include media("sm") {
          max-height: 55%;
        }
      }

      &-btn {
        position: relative;
        z-index: 2;
        align-self: flex-end;
        transition: var(--transition-ease);
      }

      &-title {
        position: relative;
        z-index: 2;
        margin-top: auto;
        color: #fff;
        font-size: clamp(1.25rem, 1.0769rem + 0.7692vw, 2rem);
      }

      &-desc {
        margin-top: rem(10);
        color: #fff;
        font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
      }
    }

    &__text {
      margin-top: rem(40);
      width: 100%;
      gap: rem(40);

      @include media("lg") {
        margin-top: rem(20);
        gap: rem(30);
      }

      .text-h3 {
        color: inherit;
        font-weight: inherit;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 0.35em;

        @include media("xl") {
          display: block;
        }
        @include media("lg") {
          line-height: 1.5;
        }

        span {
          padding: 0.25em 0.7em;
          color: var(--primary);
          font-size: 1.5em;
          font-weight: 700;
          border-radius: 0.6em;
          border: 1px solid var(--primary);

          @include media("xl") {
            font-size: 1.2em;
          }
          @include media("lg") {
            padding: 0.15em 0.4em;
            font-size: 1em;
          }
        }
      }

      .text-p {
        max-width: 80%;
        line-height: 1.5;

        @include media("sm") {
          max-width: 100%;
          font-size: rem(14);
        }
      }

      strong {
        color: var(--primary);
      }
    }
  }
</style>
