---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Symptoms -->
<Section name="symptoms"> .symptoms </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .symptoms {
    position: relative;
  }
</style>
