---
import { Section,H2,H3,P, Image, Icon, Button } from "ui";
---

<!-- Way -->
<Section name="way"> .way </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .way {
    position: relative;
  }
</style>
